.search__wrapper {
  position: relative;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .search__wrapper {
    min-width: 480px;
    width: 40%;
  }
}

.search__input {
  border: 1px solid #ddd;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 10px 40px 10px 10px;
  width: 100%;
}

.search__clear {
  padding: 0 1rem;
  font-size: 1.6rem;
  opacity: 0.2;
  margin-top: 4px;
}

.search__clear::before {
  content: '\00d7';
}

.search__clear,
.search__submit {
  position: absolute;
  right: 0;
  top: 3px;
  height: 100%;
  width: 3rem;
  display: block;
}

.search__submit svg {
  height: 80%;
  color: #444;
  opacity: 0.5;
}

.search__submit:hover {
  opacity: 1;
}

.search__focus {
  border-color: #ccc;
}
